<!DOCTYPE html>
<html lang="en">
<body>
    
    <nav class="navbar navbar-dark bg-dark">

        <button onClick="history.back()">
            Regresar
        </button>

        <h1>
            Men&uacute; 
        </h1>
        
    </nav>

    <table>

        <tr>
            <td>
                <button onclick="window.location.href='/quejas'" > Ver Quejas </button> 
            </td>

            <td>
                <button  honclick="window.location.href='/estadisticas'"> Estad&iacute;ticas </button> 
            </td>

            <td>
                <button  onclick="window.location.href='/seguimiento'"> Seguimiento </button> 
            </td>

        </tr>

    </table>
    
</body>
</html>