<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/estilo.css">

    <title> El quejas </title>
</head>

<body>



    {{{ body}}}

    <br>
    <p align="center">© 2021 Reservados todos los derechos. : AE, JF </p>

</body>

</html>